<article>
  <header>Employees</header>

  <button (click)="showInactiveRoles = !showInactiveRoles">
    {{ showInactiveRoles ? 'Hide' : 'Show' }} Inactive Roles
  </button>

  <ul class="collection">
    <!-- Tip: ngFor requires let and not const. -->
    @for (employee of employeeList; track employee) {
      <li>
        <strong>{{ employee.name }}</strong>
        @for (role of employee.roles; track role; let i = $index) {
          <div>
            @if (showInactiveRoles || i === 0) {
              <span>
                {{ role }}
              </span>
            }
          </div>
        }
      </li>
    }
  </ul>
</article>
